<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Bike Learning - New</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
<script type="text/javascript">
$(function(){
    var fillSecondary = function(){
        var selected = $('#provincia').val();
        $('#localidad').empty();
        $.getJSON("/weather/provincia/"+selected+"/localidades",null,function(data){
           data.forEach(function(element,index){
              $('#localidad').append('<option value="'+element.id+'">'+element.descripcion+'</option>');
           });
        });
    }
    $('#provincia').change(fillSecondary);
    fillSecondary();
});
</script>
    <div class="card-header text-center">
        <div class="container-fluid row">
        <div class="mx-auto">
            <h3>Nueva Prediction</h3>
        </div>
        <div class="text-right">
            <a href="/index" class="btn btn-dark btn-lg"><i class="fab fa-fort-awesome"></i></a>
        </div>
        </div>
    </div>
    <div class="card-body bg-info">
        <form class="form-horizontal" action="#" th:action="@{/createWeather}" th:object="${addForm}"
            method="get">
       
            <div class="form-group col-md-4 mx-auto">
                <label class="badge badge-pill badge-warning" style="font-size: 1em; width: 10rem;" for="provincia">Provincia</label>
                <select th:field="*{provincia}" required="required" class="custom-select form-control">
                    <option th:each="provincia : ${provincias}" th:value="${provincia.id}"
                        th:text="${provincia.descripcion}" />
                </select>
            </div>
            <div class="form-group col-md-4 mx-auto">
                <label class="badge badge-pill badge-warning" style="font-size: 1em; width: 10rem;" for="localidad">Localidad</label>
                <select th:field="*{localidad}" required="required" class="custom-select form-control">
                    <option th:each="localidad : ${localidades}" th:value="${localidad.id}"
                        th:text="${localidad.descripcion}" />
                </select>
            </div>
            <div class="row text-center">
                <div class="col-sm-12 mt-5">
                    <input type="submit" class="btn btn-warning btn-lg" value="Add Prediction">
                </div>
            </div>
        </form>
    </div>
</body>
</html>